.navbar {
  /* background-color: #141b2d; */
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  color: #41a692;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
}
.typography {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  /* background-color: #141b2d; */
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms ease-in-out;
  z-index: 9;
}

.nav-menu.active {
  /* background-color: rgba(0, 0, 0, 100); */
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #41a692;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  color: aliceblue;
  background-color: #41a692;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  /* background-color: rgb(62, 67, 150); */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
